.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
}

.gradient-text-0 {
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-1 {
  background: -webkit-linear-gradient(#a79af9, #7aa8d2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-2 {
  background: -webkit-linear-gradient(#bfa3da, #743f93);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-3 {
  background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  text-decoration-color: #84309c;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.title,
.description {
  text-align: left;
}


.description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.descriptionsml {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  font-size: 1.0rem;
}

.descriptionsmlfoot {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  font-size: 1.2rem;
}

.descriptionsmlnsapce {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  line-height: 1.2;
  font-size: 1.0rem;
}

.contract {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.0;
  font-size: 0.8rem;

}

.code {
  background: #555;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #131313;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 440px;
  overflow: none;
  border: none;
}

.card-text {
  padding: 1rem;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  opacity: 80%;
}

.card h2 {
  margin: 0 0 0.75rem 0;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    font-size: 3rem;
    line-height: 1.15;
  }
}

.card,
.footer {
  border-color: #222;
}
.logo img {
  filter: invert(1);
}



  /* NAVBAR CSS @CMH */
.navbar {
  /* Additional styles if needed, e.g., background color */
  background-color: #000; /* Example background color */
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white; /* Set text color to white */
  /* Additional styling for links */
}

.nav-links li a:hover {
  color: #017bff; /* Color change on hover, if desired */
  /* Other hover effects */
}

/* Hyperlink Colours @CMH */
a, a:visited {
  color: white; /* Sets the link color to cyan for both normal and visited links */
  text-decoration: none; /* Removes the underline from links */

  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

a:hover {
  color: White; /* Keeps the color cyan on hover */
  text-decoration: none; /* Ensures no underline appears on hover */
}

/* Banner @CMH */
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}




/* ... other styles ... */
.nft-section, .partner-section, .footer-section, .black-section {
  background-color: rgba(17, 16, 17, 0.8);
  color: white;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 14.23px; /* Adds space below each section */
}

/* If the last section should not have a margin at the bottom,
   you can override it for the last section specifically.
   Assuming .footer-section is the last one: */


.nft-section {
  background-color: rgba(17, 16, 17, 0.8);
  color: white;
  padding: 20px;
  border-radius: 15px; /* Adjust the radius as needed */
}

.partner-section {
  background-color: rgba(17, 16, 17, 0.8);
  color: white;
  padding: 20px;
  border-radius: 15px; /* Adjust the radius as needed */
  position: relative; /* Needed for absolute positioning of children */

}

.footer-section {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 15px; /* Adjust the radius as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center text for all child elements */
}











.black-section {
  background-color: rgba(17, 16, 17, 0.8);
  color: white;
  padding: 20px;
  border-radius: 15px; /* Adjust the radius as needed */
}
/* ... other styles ... */



/* BKG @dev */

body {
  background-image: url(backgroundImage);
  background-size: cover; /* Cover the entire page */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Optional: Makes the background fixed during scroll */
}

/* Black text shadow for outline effect */
.outlined-text {
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

}


  .outlined-text2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-size: 1.5rem;
    text-shadow:
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}


/* Chart embeds .css */

#dexscreener-embed {
  position: relative;
  width: 100%;
  height: 450px; /* Set the height of the container to 450px */
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Ensures the iframe corners are also rounded */
}

#dexscreener-embed iframe {
  position: absolute;
  width: 100%;
  height: 100%; /* Make the iframe fill the container */
  top: 0;
  left: 0;
  border: 0;
}


/* token links */
.link-container {
  display: flex;
  justify-content: space-evenly; /* Evenly spaces the links */
  align-items: center; /* Vertically centers the links in the container */
  text-align: center; /* Centers the text inside each link */
}

.link-container p {
  margin: 0; /* Removes default paragraph margins */
}
.social-links {
    display: flex;
}

.social-links p {
    margin: 0; /* Removes default paragraph margins for cleaner spacing */
    padding-right: 15px; /* Adds right padding to each link */
    font-size: 0.9rem;
}

/* team images container*/
.team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1px; /* Adjust the gap as needed */
}

.team-member {
    flex: 1 1 300px; /* Adjust the flex-basis to change the breakpoint */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member-image {
    width: 100px; /* Adjust the size as needed */
    height: auto;
    border-radius: 50%; /* Optional: for circular images */
}

.team-member-name {
    margin-top: 10px;
    font-size: 1.2em;
    text-align: center;
}

/* Partners  */
.partner-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px; /* Adjust the gap as needed */
}


.button2{
    background-color: #ff6b09; /* Blue background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Top and bottom padding of 10px, left and right padding of 20px */
    text-align: center; /* Center the text inside the button */
    text-decoration: none; /* No underline on the text */
    display: inline-block; /* Align buttons inline */
    font-size: 16px; /* Set font size */
    margin: 4px 2px; /* Margin around the buttons */
    cursor: pointer; /* Change mouse cursor to pointer when hovering over the button */
    border-radius: 15px; /* Rounded corners with a radius of 15px */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.button2:hover {
    background-color: #821009; /* Darker blue background on hover */
}


button {
    background-color: #4d7fc5; /* Blue background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Top and bottom padding of 10px, left and right padding of 20px */
    text-align: center; /* Center the text inside the button */
    text-decoration: none; /* No underline on the text */
    display: inline-block; /* Align buttons inline */
    font-size: 16px; /* Set font size */
    margin: 4px 2px; /* Margin around the buttons */
    cursor: pointer; /* Change mouse cursor to pointer when hovering over the button */
    border-radius: 15px; /* Rounded corners with a radius of 15px */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

button:hover {
    background-color: #8cd7ff; /* Darker blue background on hover */
}


.button-link {
  background-color: #4d7fc5; /* Blue background */
  color: white; /* White text */
  border: none; /* No border */
  padding: 10px 20px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Inline display */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Pointer cursor */
  border-radius: 15px; /* Rounded corners */
  transition: background-color 0.3s; /* Color transition */
}

.button-link:hover {
  background-color: #8cd7ff; /* Darker blue on hover */
}


.social-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social-icon {
  width: 20px;
  height: auto;
  margin-right: 14px;
}

.footer-section .social-links {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap as needed */
}

.footer-section .connect {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none; /* Removes underline from links, optional */
}



.nft-floating-images {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 10px; /* Adjust the gap between images */
}

.floating {
    animation: float 3s ease-in-out infinite;
    /* Adjust width and height as needed */
    width: 100px;
    height: auto;
}









/* Existing styles for partner logos */
.partner-logo {
    /* Your existing styles... */
}

/* Styles for smaller devices */
@media (max-width: 768px) { /* Adjust the max-width as needed for your design */
    .partner-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; /* Adjust spacing between logos */
    }

    .partner-logo {
        flex: 1 1 200px; /* Adjust the flex-basis to change the breakpoint */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }
}


.partner-logo-image {
    width: 100%; /* Adjust the size as needed */
    max-width: 75px; /* Reduced maximum size of logos by 50% */
    height: auto;
}



/* Container for the section */
.section-container {
    display: flex;
    flex-wrap: wrap; /* Allows columns to wrap onto the next line on smaller screens */
    justify-content: space-between; /* Adjusts spacing between columns */
}

/* Individual columns */
.column {
    flex: 1 1 40%; /* Each column takes up 45% of the container, adjust as needed */
    margin: 10px; /* Spacing around each column */
    display: flex; /* Makes the column a flex container */
    flex-direction: column; /* Aligns children of the column in a column layout */
    min-height: 450px; /* Ensures each column has a minimum height of 450px */
}

/* Styles for smaller devices */
@media (max-width: 768px) { /* Adjust as needed */
    .column {
        flex: 1 1 100%; /* Each column takes full width on small screens */
    }
}

.token-icon-container {
  display: flex;
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically, if needed */
}

.token-icon {
  width: 220px;
  height: auto;
  margin-right: 14px;
  margin-bottom: 40px;
}
